
html{
    scroll-behavior: smooth;
}
body{
 background-color: white;
 font-family: 'Roboto', sans-serif;
 /* overflow: hidden; */
}

a{
    text-decoration: none; 
  }
  
  a:link{
    color: black;
    
  }
  
  a:hover{
    color: white;
  }
  a:visited{
      color: black;
  }

  #download{
    left: 950px;
    position: relative;
    text-align: center;
    width: 200px;
    height: 50px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 15px 15px 15px 15px; 
    padding: 10px 15px 10px 15px;
    top: -400px;
  }

#ScreenOne{
    width:100vw;
    height:100vh;
    background-color: #D4D4D4;
}

#ScreenTwo{
    width:100vw;
    height:100vh;
    background-color: #C9C7BC;
   
}

#ScreenThree{
    width:100vw;
    height:100vh;
    background-color: #DED9C0;
   
}

#ScreenFour{
    width:100vw;
    height:100vh;
    background-color: #E2D9A0;
}

#ScreenFive{
    width:100vw;
    height:100vh;
    background-color: #E0D06A;
}

#ScreenSix{
    width:100vw;
    height:100vh;
    background-color: #F6E781;
}

#ScreenSeven{
    width:100vw;
    height:100vh;
    background-color: #FFF6BB;
}

#ScreenEight{
    width:100vw;
    height:100vh;
    background-color: #FFFADB;
}

#Welcome{
    position: relative;
    width: 300px;
    height: 200px;
    left: 50px;
    top: 50px;
    font-size:200px;
    font-family: 'Bellota', cursive;    
    font-weight: 700;
}


#Start{
    display: block;
    position: relative;
    text-align: center;
    width: 200px;
    height: 40px;
    left: 900px;
    top: 360px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 15px 15px 15px 15px; 
    padding: 15px 0px 0px 0px;
    
}

#Arrow1{
    width: 350px;
    height: 5px;
    position: absolute;
    left: 755px;
    top: 520px;
    background-color: black;
    
}

#Arrow2{
    width: 20px;
    height: 5px;
    position: absolute;
    left: 1090px;
    top: 515px;
    background-color: black;
    transform: rotate(45deg);
    
}
#Arrow3{
    width: 20px;
    height: 5px;
    position: absolute;
    left: 1090px;
    top: 526px;
    background-color: black;
    transform: rotate(-45deg);
    
}


.Circle{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 50px;
    border: 2px solid black;
    top: 60px;
}
.Arrow1{
    width: 35px;
    height: 3px;
    position: relative;
    left: 8px;
    top: 25px;
    background-color: black;
    
}

.Arrow2{
    width: 20px;
    height: 3px;
    position: relative;
    left: 5px;
    top: 16px;
    background-color: black;
    transform: rotate(-45deg);
    
}
.Arrow3{
    width: 20px;
    height: 3px;
    position: relative;
    left: 5px;
    top: 25px;
    background-color: black;
    transform: rotate(45deg);
    
}
.Arrow4{
    width: 35px;
    height: 3px;
    position: relative;
    left: 8px;
    top: 25px;
    background-color: black;
    
}

.Arrow5{
    width: 20px;
    height: 3px;
    position: relative;
    left: 5px;
    top: 29px;
    background-color: black;
    transform: rotate(45deg);
    
}
.Arrow6{
    width: 20px;
    height: 3px;
    position: relative;
    left: 5px;
    top: 13px;
    background-color: black;
    transform: rotate(-45deg);
    
}
.CircleEnd{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    left: 50px;
    border: 2px solid black;
    top: 250px;
}


#Question1{
    position: relative;
    width: 600px;
    height: 200px;
    left: 20px;
    top: 25px;
    font-size: 30px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#AnswersContainer1{
    position: relative;
    display: block;
    width: 400px;
    height: 400px;
    left: 60px;
    top: 0px;
    font-size: 30px;
    font-weight: 300;
    line-height: 70px;
}

#CircleContainer1{
    position: relative;
    display: block;
    width: 300px;
    height: 700px;
    left: 700px;
    top: -350px;
}


/* position: absolute;
    width: 500px;
    height: 500px;
    left: 500px;
    top: 50px;
    border-radius: 50%;
    background-color:rgb(187, 187, 187);
    mix-blend-mode: multiply; */


#Answers1{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    left: 0px;
    border: 2px solid black;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Answers2{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 10px;
    border-radius: 15px 15px 15px 15px;
    padding: 0px 0px 0px 15px;
}

#Answers3{
    display: block;
    position: relative;
    width: 400px;;
    height: 70px;
    border: 2px solid black;
    top: 20px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Answers4{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 30px;
    border-radius: 15px 15px 15px 15px;  
    padding: 0px 0px 0px 15px;
}
#Answers5{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 40px;
    border-radius: 15px 15px 15px 15px;
    padding: 0px 0px 0px 15px; 
}

#Question2{
    position: relative;
    width: 600px;
    height: 200px;
    left: 20px;
    top: 25px;
    font-size: 30px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#AnswersContainer2{
    position: relative;
    width: 400px;
    height: 400px;
    left: 60px;
    top: 0px;
    font-size: 30px;
    font-weight: 300;
    line-height: 70px;
}

#CircleContainer2{
    position: relative;
    display: block;
    width: 400px;
    height: 700px;
    left: 700px;
    top: -350px;
}


#Answers6{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Answers7{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 10px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Answers8{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 20px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Answers9{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 30px;
    border-radius: 15px 15px 15px 15px;  
    padding: 0px 0px 0px 15px;
}
#Answers10{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 40px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}

#Question3{
    position: relative;
    width: 650px;
    height: 200px;
    left: 20px;
    top: 25px;
    font-size: 30px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#AnswersContainer3{
    position: relative;
    width: 400px;
    height: 400px;
    left: 60px;
    top: 0px;
    font-size: 30px;
    font-weight: 300;
    line-height: 70px;
}
#CircleContainer3{
    position: relative;
    display: block;
    width: 300px;
    height: 700px;
    left: 700px;
    top: -350px;
}


#Answers11{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Answers12{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 10px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Answers13{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 20px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Answers14{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 30px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
     
}
#Answers15{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 40px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}

#Question4{
    position: relative;
    width: 600px;
    height: 200px;
    left: 20px;
    top: 25px;
    font-size: 30px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#AnswersContainer4{
    position: relative;
    width: 700px;
    height: 400px;
    left: 60px;
    top: 0px;
    font-size: 30px;
    font-weight: 300;
    line-height: 70px;
}

#CircleContainer4{
    position: relative;
    display: block;
    width: 300px;
    height: 700px;
    left: 700px;
    top: -350px;
}

#Answers16{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    border-radius: 15px 15px 15px 15px;
    padding: 0px 0px 0px 15px; 
}
#Answers17{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 10px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Answers18{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 20px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Answers19{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 30px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px; 
}
#Answers20{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 40px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}

#Question5{
    position: relative;
    width: 600px;
    height: 200px;
    left: 20px;
    top: 25px;
    font-size: 30px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#AnswersContainer5{
    position: relative;
    width: 400px;
    height: 400px;
    left: 60px;
    top: 0px;
    font-size: 30px;
    font-weight: 300;
    line-height: 70px;
}
#CircleContainer5{
    position: relative;
    display: block;
    width: 300px;
    height: 700px;
    left: 700px;
    top: -350px;
}


#Answers21{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Answers22{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 10px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Answers23{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 20px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Answers24{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 30px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px; 
}
#Answers25{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 40px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}

#Question6{
    position: relative;
    width: 600px;
    height: 200px;
    left: 20px;
    top: 25px;
    font-size: 30px;
    line-height: 35px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#AnswersContainer6{
    position: relative;
    width: 700px;
    height: 400px;
    left: 60px;
    top: 0px;
    font-size: 30px;
    font-weight: 300;
    line-height: 70px;
}
#CircleContainer6{
    position: relative;
    display: block;
    width: 300px;
    height: 700px;
    left: 700px;
    top: -350px;
}

#Answers26{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Answers27{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 10px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Answers28{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 20px;
    border-radius: 15px 15px 15px 15px;
    padding: 0px 0px 0px 15px; 
}
#Answers29{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 30px;
    border-radius: 15px 15px 15px 15px;  
    padding: 0px 0px 0px 15px;
}
#Answers30{
    display: block;
    position: relative;
    width: 400px;
    height: 70px;
    border: 2px solid black;
    top: 40px;
    border-radius: 15px 15px 15px 15px; 
    padding: 0px 0px 0px 15px;
}
#Statement{
    position: relative;
    width: 400px;
    height: 400px;
    left: 50px;
    top: 130px;
    font-size: 70px;
    line-height: 70px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

#CircleBox{
    position: relative;
    width: 800px;
    height: 600px;
    bottom: 400px;
    left: 50px;
}
/* 
.Circle1{
    position: absolute;
    width: 600px;
    height: 600px;
    left: 500px;
    top: 50px;
    border-radius: 50%;
    background-color: black;
    opacity: .6;
    
}
.Circle2{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 550px;
    top: 100px;
    border-radius: 50%;
    background-color: rgb(24, 24, 24);
    opacity: .6;
}
.Circle3{
    position: absolute;
    width: 400px;
    height: 400px;
    left: 600px;
    top: 150px;
    border-radius: 50%;
    background-color: rgb(110, 110, 110);
    opacity: .6;
}
.Circle4{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 650px;
    top: 200px;
    border-radius: 50%;
    background-color: rgb(160, 159, 159);
    opacity: .6;
}
.Circle5{
    position: absolute;
    width: 200px;
    height: 200px;
    left: 700px;
    top: 250px;
    border-radius: 50%;
    background-color: rgb(187, 187, 187);
    opacity: .6;
}
.Circle6{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 750px;
    top: 300px;
    border-radius: 50%;
    background-color: rgb(223, 223, 223);
    opacity: .6;
} */
.Circle7{
    position: absolute;
    width: 500px;
    height: 500px;
    left: -100px;
    top: -125px;
    border-radius: 50%;
    background-color:rgb(187, 187, 187);
    mix-blend-mode: multiply;
    /* opacity: .6; */
}

.Circle8{
    position: absolute;
    width: 500px;
    height: 500px;
    left: -50px;
    top: -125px;
    border-radius: 50%;
    background-color:rgb(187, 187, 187);
    /* opacity: .6; */
    mix-blend-mode: multiply;
}

.Circle9{
    position: absolute;
    width: 500px;
    height: 500px;
    left: -150px;
    top: -125px;
    border-radius: 50%;
    background-color: rgb(187, 187, 187);
    /* opacity: .6; */
    mix-blend-mode: multiply;
}

.Circle10{
    position: absolute;
    width: 300px;
    height: 300px;
    left: -150px;
    top: -25px;
    border-radius: 50%;
    background-color: rgb(187, 187, 187);
    mix-blend-mode: multiply;
}

.Circle11{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 0px;
    top: -25px;
    border-radius: 50%;
    background-color: rgb(187, 187, 187);
    /* opacity: .6; */
    mix-blend-mode: multiply;
}

.Circle12{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 150px;
    top: -25px;
    border-radius: 50%;
    background-color: rgb(223, 223, 223);
    /* opacity: .6; */
    mix-blend-mode: multiply;
}


.Circle1{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 500px;
    top: 50px;
    border-radius: 50%;
    background-color:rgb(187, 187, 187);
    mix-blend-mode: multiply;
    
}
.Circle2{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 550px;
    top: 50px;
    border-radius: 50%;
    background-color: rgb(187, 187, 187);
    mix-blend-mode: multiply;
}
.Circle3{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 450px;
    top: 50px;
    border-radius: 50%;
    background-color:rgb(187, 187, 187);
    mix-blend-mode: multiply;
}
.Circle4{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 450px;
    top: 150px;
    border-radius: 50%;
    background-color: rgb(187, 187, 187);
    mix-blend-mode: multiply;
}
.Circle5{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 600px;
    top: 150px;
    border-radius: 50%;
    background-color: rgb(187, 187, 187);
    mix-blend-mode: multiply;
}
.Circle6{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 750px;
    top: 150px;
    border-radius: 50%;
    background-color:rgb(187, 187, 187);;
    mix-blend-mode: multiply;
}


#Start:hover {
    color:black;
    color: white;
  }

#Answers1:hover {
    background-color: rgb(114, 134, 146);
    color: white;
  }

#Answers2:hover {
    background-color: rgb(114, 134, 146);
    color: white;
  }
#Answers3:hover {
    background-color: rgb(114, 134, 146);
    color: white;
  }
#Answers4:hover {
    background-color: rgb(114, 134, 146);
    color: white;
  }
#Answers5:hover {
    background-color: rgb(114, 134, 146);
    color: white;
  }
#Answers6:hover {
    background-color: rgb(100, 130, 148);
    color: white;
  }
#Answers7:hover {
    background-color: rgb(100, 130, 148);
    color: white;
  }
#Answers8:hover {
    background-color: rgb(100, 130, 148);
    color: white;
  }
#Answers9:hover {
    background-color: rgb(100, 130, 148);
    color: white;
  }
#Answers10:hover {
    background-color: rgb(100, 130, 148);
    color: white;
  }
#Answers11:hover {
    background-color: rgb(75, 118, 145);
    color: white;
  }
  
#Answers12:hover {
    background-color: rgb(75, 118, 145);
    color: white;
  }
#Answers13:hover {
    background-color: rgb(75, 118, 145);
    color: white;
  }
#Answers14:hover {
    background-color: rgb(75, 118, 145);
    color: white;
  }
#Answers15:hover {
    background-color: rgb(75, 118, 145);
    color: white;
  }
#Answers16:hover {
    background-color: rgb(55, 130, 177);
    color: white;
  }
#Answers17:hover {
    background-color: rgb(55, 130, 177);
    color: white;
  }
#Answers18:hover {
    background-color: rgb(55, 130, 177);
    color: white;
  }
#Answers19:hover {
    background-color: rgb(55, 130, 177);
    color: white;
  }
#Answers20:hover {
    background-color: rgb(29, 136, 202);
    color: white;
  }
  #Answers21:hover {
    background-color: rgb(29, 136, 202);
    color: white;
  }
  
#Answers22:hover {
    background-color: rgb(29, 136, 202);
  }
#Answers23:hover {
    background-color: rgb(29, 136, 202);
    color: white;
  }
#Answers24:hover {
    background-color: rgb(29, 136, 202);
    color: white;
  }
#Answers25:hover {
    background-color: rgb(29, 136, 202);
    color: white;
  }
#Answers26:hover {
    background-color: rgb(144, 212, 255);
    color: white;
  }
#Answers27:hover {
    background-color: rgb(144, 212, 255);
    color: white;
  }
#Answers28:hover {
    background-color: rgb(144, 212, 255);
    color: white;
  }
#Answers29:hover {
    background-color: rgb(144, 212, 255);
    color: white;
  }
#Answers30:hover {
    background-color: rgb(144, 212, 255);
    color: white;
  }

#Start:hover {
    background-color: rgb(144, 212, 255);
    color: white;
  }

  #download:hover {
    background-color: rgb(144, 212, 255);
    color: white;
  }

  .Circle:hover {
    background-color: rgb(144, 212, 255);
    color: white;
  }

  .CircleEnd:hover {
    background-color: rgb(144, 212, 255);
    color: white;
  }